* { 
    font-family: 'Courier New', Courier, monospace;
}
body {
    padding-right: 20%;
    padding-left: 20%;
    font-size: 30px;
    background-color: #fff;
}
.del-btn {
    float: right;
}
.del-btn:hover {
    background-color: rgb(231, 150, 150);
}
input {
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
}
#f_error, #l_error {
    color: red;
    font-size: 15px;
}